{% extends "layout.html" %}
{% load account_filter %}

{% block title %}비밀번호 찾기{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="/site_media/css/find_password.css" />
{% endblock %}

{% block content %}
<div class="find-password-area">
  <image src="/site_media/images/title_find_password.png" class="find-password-title" alt="find_password_title"/>
  <div class="find-password-wrap">
    <p class="help">
      가입되어있는 이메일 계정을 입력해주세요.<br />비밀번호를 변경할 수 있는 링크를 보내드립니다.
    </p>

    <form method="POST" id="find-password-form" action="./">
	<label for="id_email">
	  <image src="/site_media/images/find_password_email_label.png" alt="image_field"/>
	</label>
	{{ form.email }}
	<p class="check-result">{{ form.email.errors.0 }}</p>
	<p class="check-result">{{ success_msg }}</p>
      
      <div class="submit-wrap">
	<a class="cancel-button" href="javascript:history.go(-1)">
	  <image src="/site_media/images/find_password_cancel.png" alt="cancel" />
	</a>
	<input type="image" src="/site_media/images/confirm_btn.png" alt="confirm" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
