{% extends "layout.html" %}
{% load account_filter %}

{% block title %}새 비밀번호{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="/site_media/css/new_password.css" />
{% endblock %}

{% block content %}
<div class="new-password-area">
    <form method="POST" id="find-password-form" action="./{{ hashcode }}">
      <table>
	<tr>
	  <td>
	    <label for="id_password">
	      <image src="/site_media/images/new_password.png" alt="image_field"/>
	    </label>
	  </td>
	  <td>{{ form.password }}</td>
	  <!-- <td class="check-result">{{ form.password.errors.0 }}</td> -->
	</tr>
	<tr>
	  <td>
	    <label for="id_password_confirm">
	      <image src="/site_media/images/new_password_confirm.png" alt="image_field"/>
	    </label>
	  </td>
	  <td>{{ form.password_confirm }}</td>
	  <!-- <td class="check-result">{{ form.password_confirm.errors.0 }}</td> -->
	</tr>
      </table>
      <p class="form-error">
	{% if form.password.errors %}
	{{ form.password.errors.0 }}
	{% else %}{% if form.password_confirm.errors %}
	{{ form.password_confirm.errors.0 }}
	{% endif %}
	{% endif %}
      </p>
      
      <div class="submit-wrap">
	<a class="cancel-button" href="/intro/">
	  <image src="/site_media/images/find_password_cancel.png" alt="cancel" />
	</a>
	<input type="image" src="/site_media/images/confirm_btn.png" alt="confirm" />
      </div>
    </form>
</div>
{% endblock %}
