{% extends "layout.html" %}

{% block title %}걱정이 주문{% endblock %}

{% block link %}
<link rel="stylesheet" type="text/css" href="/site_media/css/order_form1.css" />
{% endblock %}

{% block content %}
<image src="/site_media/images/order_form1_title.png" class="order-title" />

<div class="order-form-wrap">
  <form method="post" name="order_first_form" action="/order/form2/">
    <div class="name-wrap">
      <div class="sender-name-label order-label"></div>
      {{ form.sender_name }}
      <p class="check-result">{{ form.sender_name.errors.0 }}</p>
    </div>

    <div class="phone-wrap">
      <div class="sender-phone-label order-label"></div>
      {{ form.sender_phone_1 }}
      <span class="phone-number-hyphen">-</span>
      {{ form.sender_phone_2 }}
      <span class="phone-number-hyphen">-</span>
      {{ form.sender_phone_3 }}
      {% if form.sender_phone_1.errors %}
      <p class="check-result">{{ form.sender_phone_1.errors.0 }}</p>
      {% else %}{% if form.sender_phone_2.errors %}
      <p class="check-result">{{ form.sender_phone_2.errors.0 }}</p>
      {% else %}{% if form.sender_phone_3.errors %}
      <p class="check-result">{{ form.sender_phone_3.errors.0 }}</p>
      {% endif %}
      {% endif %}
      {% endif %}
    </div>

    <div class="product-wrap">
      <div class="product-label order-label"></div>
      <div class="doll-count-label order-product-label"></div>
      {{ form.doll_count }}
      <div class="phonedoll-count-label order-product-label"></div>
      {{ form.phonedoll_count }}
      <p class="check-result">{{ form.doll_count.errors.0 }}</p>
    </div>
    
    <div class="worry-label order-label"></div>
    <div class="worry-desc1"></div>
    {{ form.content }}
    <div class="worry-desc2"></div>

    <div class="submit-wrap">
      <div class="cancel-button" onclick="javascript:window.location='/shop/'"></div>
      <input type="image" src="/site_media/images/bttn_order_next.png" class="next-button" alt="order_next" />
    </div>
    <div class="clear-both"></div>
  </form>
</div>
{% endblock %}
