.find-password-area {
    font-family: serif, 명조체;
    font-size: 0.8em;
    margin: 20px 0 0 110px;
}

.find-password-wrap > P {
    margin-left: 5px;
}

.find-password-title {
    margin-bottom: 10px;
}

.find-password-area FORM {
    /* text-align: center; */
    margin: 40px 0 0 130px;
}

.find-password-area FORM .submit-wrap {
    margin-left: 60px;
}

.find-password-area FORM .submit-wrap INPUT {
    padding-bottom: 4px;
}

#id_email {
    border: 1px solid #C7C7C6;
    margin: 0 0 0 20px;
}

.find-password-area FORM LABEL IMG {
    margin-bottom: -4px;
}