body {
    text-align: center;
}

#content-wrap {
    -moz-background-clip: border;
    -moz-background-inline-policy: continuous;
    -moz-background-origin: padding;
    margin: auto;
    background: #f7f6f4 url(../images/index_background.jpg) repeat-y scroll 0 0;
    width: 760px;
    height: 650px;
}

.top-margin {
    display: none;
}

#flash-wrap {
    margin-top: 150px;
    cursor: pointer;
}

.index-enter {
    background: #f7f6f4 url(../images/index_enter_btn.png) no-repeat;
    width: 85px;
    height: 70px;
    margin: auto;
    cursor: pointer;
}
