#intro_content_ko {
    height: 2492px;
    background: #f7f6f4 url(../images/worry_story_ko_high2.jpg) repeat-y;
}


#intro_content_en {
    height: 2492px;
    background: #f7f6f4 url(../images/worry_story_eng2.jpg) repeat-y;
}
