#login-wrap {
    margin: auto;
    height: auto;
    width: 300px;
    padding-left: 37px;
    margin-top: 80px;
    overflow: hidden;
}

#login-wrap a {
    display: block;
}

#content #login-wrap ul {
    padding: 0;
}

#content #login-wrap li {
    display: block;
    margin: 3px 0 0 62px;
    width: auto;
    overflow: hidden;
    clear: both;
}

#content #login-wrap .login-auth-error {
    clear:both;
    margin: 0 0 0 63px;
    padding: 2px 0 0 5px;
    font-size: 0.75em;
    font-family: serif, 명조체;
    color:#8A8A8A;
    font-weight: bold;
}

/* login-form start */
#content #login-wrap #login-form {
    
}

#content #login-wrap .login-description-1 {
    background: url(../images/login_description1.png) no-repeat;
    height: 30px;
}

#content #login-wrap li.id-input {
    margin-top: 12px;
}

#content #login-wrap .id-label {
    background: url(../images/id_label.png) no-repeat;
    float: left;
    width: 31px;
    height: 20px;
    margin: 4px 0 0 4px;
}

#content #login-wrap #id_username {
    background: url(../images/inputbox_id.png) no-repeat;
    border: 0;
    width: 106px;
    height: 25px;
    position:relative;
    display: block;
}

#content #login-wrap .pw-label {
    background: url(../images/pw_label.png) no-repeat;
    float: left;
    width: 35px;
    height: 20px;
    margin-top: 13px;
}

#content #login-wrap #id_password {
    float: left;
    position:relative;
    background: url(../images/inputbox_pw1.png) no-repeat;
    border: 0;
    width: 106px;
    height: 25px;
    display: block;
    margin-top: 3px;
}

/* login-form end */

/* submit-block start */
#content #login-wrap .submit-block {
    overflow: hidden;
    margin: 12px 0 0 91px;
}

#content #login-wrap .join-button {
    float: left;
    background: url(../images/bttn_join.png) no-repeat;
    width: 64px;
    height: 32px;
    margin: -2px 0 0 1px;
    margin-top: -2px;
}

#content #login-wrap .login-button {
    float: left;
}
/* submit-block end */

/* alter-login-block start */
#login-wrap .alter-login-block {
    margin: 65px 0 0 0px;
}

#login-wrap .login-description-2 {
    height: 23px;
    background: url(../images/login_description2.png) no-repeat;
}

#login-wrap .alter-picture {
    clear:both;
    background: url(../images/logos_1.png) no-repeat;
    width: 270px;
    height: 60px;
    margin: 8px 0 0 13px;
}

#login-wrap .rpxnow {
    float: left;
    width: 64px;
    height: 32px;
    margin: 13px 0 0 117px;
    background: url(../images/large_login_btn.png) no-repeat;
    cursor: pointer;
}

.find-password-button {
    clear: both;
}

.find-password-button IMG {
    margin-top: 20px;
    margin-bottom: 10px;
}

/* alter-login-block end */

