.new-password-area LABEL IMG {
    margin-bottom: -5px;
}

.new-password-area TABLE {
    margin:auto;
}

.new-password-area TABLE INPUT {
    border: 1px solid #C7C7C6;
    margin: 0 0 0 20px;
    padding: 3px;
    width: 120px;
}

.new-password-area FORM {
    margin-top: 70px;
    text-align: center;
}

.submit-wrap INPUT {
    margin-bottom: 3px;
}

.form-error {
    margin-top: 8px;
    margin-bottom: 30px;
    font-family: serif, 명조체;
    font-size: 0.8em;
}